/*************************************************
    RESET STYLES
 *************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*************************************************************************/
/* HEADER STYLE */
/* Nav Style */

nav {
    z-index: 501;
}

.logo img{
    width: 50px;
}


.input-group span,
.input-group input{
    border: none;
    background-color: #e6e6e6;
}


/* SIDE BAR STYLE */
.side-bar {
    background-color: #11283d;
    height: calc(100vh - 50px);
    width: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


/* MAIN STYLE */
main {
    display: flex;
}


/* CONTENT SECTION STYLE */
.content {
    height: calc(100vh - 50px);
    width: calc(100vw - 101px);
    overflow-y: auto;
}

.main-top {

    /* DEBUG */
    background-color: #1b72e8;
}

.add-student,
.bread-crumb,
.online {
    min-height: 50px;
    width: 50%;
    background-color: aliceblue;
    border-radius: 10px;
}




/* TABLE SECTION STYLE */
.table-class,
.table-faq,
.table-todo,
.table-graph {



    /* DEBUG */
    background-color: #3e76d3;
    border-radius: 10px;
    margin-top: 30px;
}

.table-class {
    height: 400px;
}

.table-faq {
    height: 200px;
}

.table-todo {
    height: 100px;
}

.table-graph {
    height: 500px;
}



/* ****************************************************** */
/* MEDIA QUERY */
@media all and (min-width: 768px) {

    .add-student,
    .bread-crumb,
    .online {
        width: 100%;
    }
}

@media all and (min-width: 992px){
    .side-bar {
        width: 150px;
    }

    .content {
        width: calc(100vw - 151px);
    }
}