/*************************************************
    RESET STYLES
 *************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/*************************************************************************/
/* HEADER STYLE */
/* Nav Style */

nav {
    z-index: 501;
}

.logo img {
    width: 50px;
}


.input-group span,
.input-group input {
    border: none;
    background-color: #e6e6e6;
}


/* MAIN STYLE */
main {
    display: flex;
}


/* SIDE BAR STYLE */
.side-bar {
    background-color: #11283d;
    height: calc(100vh - 50px);
    width: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


.icon-side-mobile {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-side-mobile li {
    padding-top: 10px;
}

.icon-side-mobile li a {
    text-decoration: none;
    color: white;
}


/*  ----> COME FACCIO A CENTRARE BENE LE ICONE?  <---- */
.icon-side {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.icon-side li {
    padding-top: 10px;
}

.icon-side li a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    padding-left: 10px;
}







/* CONTENT SECTION STYLE */
.content {
    height: calc(100vh - 50px);
    flex-grow: 1;
    overflow-y: auto;
}

.main-top {
    color: white;

    /* DEBUG */
    background-color: #1b72e8;
}

ol.breadcrumb{
    width: 50%;
}

ol.breadcrumb li a{
    color: white;
}

.bread-path{
    background-color: #155bba;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0px 10px
}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, " ");
}


.add-student,
.online {
    min-height: 50px;
    width: 60%;
    border-radius: 10px;
}


.add-student{
    font-size: 1.3rem;
}

.plus{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.numb-student{
    font-size: 1.2rem;

}



/* TABLE SECTION STYLE */


.tag{
    background-color: #f26551;
    border-radius: 50%;
    padding: 5px;
}

.state{
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.done{
    background-color: #198754;
}

.action{
    border: 1px solid #6c757d;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
}

.table-class,
.table-faq,
.table-todo,
.table-graph {



    /* DEBUG */
    border:1px solid #e1e1e1;
    border-radius: 10px;
    margin-top: 30px;
}

.title-table{
    padding: 10px;
    background-color: #e4e4e4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table-faq {
    height: 200px;
}

.table-todo {
    height: 100px;
}

.table-graph {
    height: 500px;
}



/* ****************************************************** */
/* MEDIA QUERY */
@media all and (min-width: 768px) {

    .add-student,
    .breadcrumb,
    .online {
        width: 100%;
    }

    .add-student{
        text-align: end;
    }


}

@media all and (min-width: 992px) {
    .side-bar {
        width: 100px;
    }

    .content {
        width: calc(100vw - 151px);
    }

    .icon-side-mobile {
        display: none;
    }

    .icon-side {
        display: block;
    }
}